.MusicPlayer{
    width: 100%;
    height: 100%;
    position: relative;
    ul{
        li{
            width: 100%;
            height: 100%;
            position: absolute;
            top: -8vh;
            left: 0;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .back{
                width: 80%;
                height: 70%;
                position: relative;
                top: 0%;
                left: 0%;
                background-position: 99999px;
                background-repeat: no-repeat;
                background-size: cover;
                transition: 1s;
                opacity: 0;
    
                &::before,
                &::after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    width: 100%;
                    height: 100%;
                    background-image: inherit;
                    background-position: bottom;
                    background-repeat: inherit;
                    background-size: inherit;
                    background-color: inherit;
                    z-index: 2;
                    transition: 1s;
                }
    
                &::before{
                    border-radius: 20px 0px 0px 20px;
                    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
                    // margin-top: -500px;
                }
    
                &::after{
                    border-radius: 0px 20px 20px 0px;
                    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
                    // margin-top: 500px;
                }
            }

            &.cen{
                .back{
                    &::before,
                    &::after{
                        background-position: center;
                    }
                }
            }

            &.next{
                .back{
                    &::before{
                        margin-top: -500px;
                    }
                    &::after{
                        margin-top: 500px;
                    }
                }
            }

            &.back{
                .back{
                    &::before{
                        margin-top: 500px;
                    }
                    &::after{
                        margin-top: -500px;
                    }
                }
            }

            .txt{
                position: absolute;
                width: 50%;
                height: 50%;
                top: 30%;
                left: 15%;
                z-index: 5;
                overflow: hidden;
    
                h2{
                    font: bold 5vw/1 "메이플스토리";
                    color: #ffffff;
                    position: relative;
                    top: 0;
                    left: 0;
                    transform: translateX(-100%);
                }
    
                p{
                    font: normal 1.5vw/1 "메이플스토리";
                    color: #ffffff;
                    position: relative;
                    top: 5vh;
                    left: 0;
                    transform: translateX(-100%);
                    text-shadow: 3px 3px 3px #000;
                }
            }

            &.on{
                z-index: 2;

                .back{
                    opacity: 1;

                    &::before,
                    &::after{
                        margin-top: 0;
                    }
                }

                .txt{
                    opacity: 1;

                    h2{
                        transform: translateX(0);
                        transition: 1s 0.2s;
                    }

                    p{
                        transform: translateX(0);
                        transition: 1s 0.4s;
                    }
                }
            }
        }

        .musicUi{
            position: absolute;
            left: 50%;
            bottom: 3vh;
            width: 20vw;
            margin-left: -10vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            z-index: 5;
            overflow: hidden;

            .backMusic,
            .playStop,
            .nextMusic{
                transform: translateY(500%);

                i{
                    color: white;
                }
            }

            .playStop{
                display: flex;
                justify-content: center;
                align-items: center;

                i{
                    position: absolute;
                    &:nth-of-type(1){
                        opacity: 1;
                    }

                    &:nth-of-type(2){
                        opacity: 0;
                    }
                }
                &.on{
                    i{
                        &:nth-of-type(1){
                            opacity: 0;
                        }
    
                        &:nth-of-type(2){
                            opacity: 1;
                        }
                    }
                }
            }

            &.on{
                .backMusic{
                    transform: translateY(0%);
                    transition: 0.5s;
                }
                
                .playStop{
                    transform: translateY(0%);
                    transition: 0.5s 0.2s;
                }

                .nextMusic{
                    transform: translateY(0%);
                    transition: 0.5s 0.4s;
                }
            }

            div{
                cursor: pointer;
                
                i{
                    font-size: 3vw;
                }
            }
        }

        .musicTimeBar{
            position: absolute;
            z-index: 5;
            width: 0%;
            height: 2%;
            background-color: rgba($color: #ffffff, $alpha: 0.5);
            left: 0;
            bottom: 0;
            opacity: 0;

            &.on{
                opacity: 1;
                animation: mus 10s infinite linear;
            }
        }
    }
}

@keyframes mus{
    0%{width: 0%;}
    100%{width: 100%;}
}